section.articles
    .container.articles__container
        .section-txt.articles__section-txt
            h2.section-txt__title Check out our latest article
        ul.articles__list
            li.articles__item
                .articles__img.articles__img_1
                .articles__txt
                    h3.articles__title Disease detection, check up in the laboratory
                    p.articles__parag In this case, the role of the health laboratory is very important to do a disease detection...
                    a.articles__link
                        span.articles__span Read more
                        svg.articles__svg
                            use(xlink:href='img/sprite.svg#arrow_right')
            li.articles__item
                .articles__img.articles__img_2
                .articles__txt
                    h3.articles__title Herbal medicines that are safe for consumption
                    p.articles__parag Herbal medicine is very widely used at this time because of its very good for your health...
                    a.articles__link
                        span.articles__span Read more
                        svg.articles__svg
                            use(xlink:href='img/sprite.svg#arrow_right')
            li.articles__item
                .articles__img.articles__img_3
                .articles__txt
                    h3.articles__title Natural care for healthy facial skin
                    p.articles__parag A healthy lifestyle should start from now and also for your skin health. There are some...
                    a.articles__link
                        span.articles__span Read more
                        svg.articles__svg
                            use(xlink:href='img/sprite.svg#arrow_right')

        a.btn.articles__btn View all