section.download
    .container.download__container
        .download__item
            .download__img.download__img_first
            .download__txt.download__txt_first
                h2.download__title Leading healthcare providers
                p.download__parag Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver
                a.btn.download__btn Learn more
        .download__item
            .download__img.download__img_second
            .download__txt.download__txt_second
                h2.download__title Download our mobile apps
                p.download__parag Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely
                button.btn.download__btn 
                    |Download
                    svg.download__arrow_down
                        use(xlink:href='img/sprite.svg#arrow_down')