section.hero
    .container.hero__container
        .hero__dots-decore
        .hero__desc
            h1.hero__title Virtual healthcare for you
            p.hero__txt Trafalgar provides progressive, and affordable healthcare, accessible on mobile and online for everyone
            a.btn.btn_revers.hero__btn Consult today
        .hero__img