section.reviews#testimonials
    .container.reviews__container
        .dots-decore.reviews__dots-decore_white
        .reviews__bg
            .section-txt.reviews__section-txt
                h2.section-txt__title.section-txt__title_white What our customer are saying
            .reviews-slider.swiper-container
                .reviews-slider__wrapper.swiper-wrapper
                    .slide.swiper-slide
                        .pers
                            .pers__ava
                            .pers__desc
                                .pers__name Edward Newgate
                                .pers__pos Founder Circle
                        p.slide__txt “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
                    .slide.swiper-slide
                        .pers
                            .pers__ava
                            .pers__desc
                                .pers__name Edward Newgate
                                .pers__pos Founder Circle
                        p.slide__txt “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
                    .slide.swiper-slide
                        .pers
                            .pers__ava
                            .pers__desc
                                .pers__name Edward Newgate
                                .pers__pos Founder Circle
                        p.slide__txt “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
                    .slide.swiper-slide
                        .pers
                            .pers__ava
                            .pers__desc
                                .pers__name Edward Newgate
                                .pers__pos Founder Circle
                        p.slide__txt “Our dedicated patient engagement app and web portal allow you to access information instantaneously (no tedeous form, long calls, or administrative hassle) and securely”
            .slider-container
                .swiper-pagination
            .slider-container
                .slider-buttons
                    button.arrow-btn.arrow-btn__next
                        svg.arrow-btn__svg
                            use(xlink:href='img/sprite.svg#arrow_right')
                    button.arrow-btn.arrow-btn__prev
                        svg.arrow-btn__svg
                            use(xlink:href='img/sprite.svg#arrow_right')

        .dots-decore.reviews__dots-decore
