.header {
    padding-top: 59px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include media(700) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #233348;

    &__svg {
        margin-right: 12px;
        width: 41px;
        height: 41px;
    }
}

.nav {
    width: 545px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: #1f1534;
        opacity: 0.5;
        transition: 0.2s;

        &:hover {
            opacity: 1;
        }
    }

    @include media(970) {
        display: none;
    }
}

.mobile-nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 140px 0 30px;
    text-align: center;
    color: #fff;
    background-color: $mainColor;
    transform: translate(0, -370px);
    transition: 0.5s;

    &__item {
        width: 100%;
    }

    &__link {
        display: inline-block;
        padding: 10px 20px;
        width: 100%;
        transition: 0.4s;

        &:hover {
            background-color: darken($mainColor, 20%);
        }
    }

    &_active {
        transform: translate(0, 0);
    }
}
