.hero {
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 53px;
    }

    &__dots-decore {
        left: -160px;
        top: 60px;
        width: 79px;
        height: 113px;
        background: url("../img/dots-decor.png") center / cover no-repeat;
    }

    &__desc {
        width: 445px;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #000;
    }

    &__txt {
        margin-top: 25px;
        font-weight: 300;
        font-size: 21px;
        line-height: 32px;
    }

    &__btn {
        margin-top: 45px;
    }

    &__img {
        width: 693px;
        height: 598px;
        background: url("../img/hero__img.jpg") center / cover no-repeat;
    }

    @include media(1200) {
        &__container {
            padding-top: 100px;
        }

        &__img {
            width: 460px;
            height: 400px;
        }
    }

    @include media(970) {
        &__container {
            justify-content: space-evenly;
        }

        &__desc {
            max-width: 288px;
        }

        &__title {
            font-size: 30px;
            line-height: 39px;
        }

        &__txt {
            margin-top: 8px;
            font-size: 18px;
            line-height: 27px;
        }

        &__btn {
            margin-top: 27px;
        }

        &__img {
            width: 360px;
            height: 300px;
        }
    }

    @include media(700) {
        &__container {
            padding-top: 80px;
        }

        &__desc {
            z-index: 1;
            max-width: 100%;
        }

        &__img {
            position: absolute;
            right: 0;
            top: 135px;
            width: 260px;
            height: 220px;
            min-width: 260px;
            min-height: 220px;
        }
    }
}

.btn {
    display: block;
    border: 1.4px solid $mainColor;
    border-radius: 55px;
    width: 200px;
    height: 60px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
    color: $mainColor;
    background-color: transparent;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: $mainColor;
    }

    @include media(970) {
        width: 140px;
        height: 40px;
        font-size: 15px;
        line-height: 38px;
    }
}

.btn_revers {
    color: #fff;
    background-color: $mainColor;

    &:hover {
        color: $mainColor;
        background-color: transparent;
    }
}

.dots-decore {
    position: absolute;
    z-index: -1;
}