.reviews {
    padding: 235px 0 85px;

    &__bg {
        margin: 0 auto;
        border-radius: 24px;
        padding: 60px 40px 82px;
        max-width: 1120px;
        color: #fff;
        background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
    }

    &__section-txt {
        text-align: center;
    }

    @include media(970) {
        padding: 150px 0 30px;

        &__bg {
            padding: 20px 40px 50px;
        }
    }

    @include media(700) {
        margin-top: 100px;
        padding: 0;
        background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);

        &__bg {
            padding: 20px 0 50px;
            background: transparent;
        }
    }
}

.slider-container {
    position: relative;
}

.swiper-pagination {
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
    margin: auto;

    &-bullet {
        width: 10px;
        height: 10px;
        background-color: $mainColor;

        &:not(:first-child) {
            margin-left: 20px;
        }

        &:focus {
            outline: none;
        }
    }

    @include media(970) {
        top: 150px;
    }

    @include media(700) {
        top: 40px;

        &-bullet {
            border: 1px solid #fff;
            opacity: 1;

            &-active {
                background-color: #fff;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
    }
}

.swiper-button-disabled {
    .arrow-btn__svg {
        opacity: 0.5;
    }
}

.arrow-btn {
    position: absolute;
    top: 250px;
    bottom: 0;
    margin: auto;

    &__svg {
        width: 30px;
        height: 20px;
        fill: $mainColor;
    }

    &__next {
        right: 34%;
    }

    &__prev {
        left: 34%;

        .arrow-btn__svg {
            transform: rotate(180deg);
        }
    }

    &:focus {
        outline: none;
    }

    @include media(970) {
        top: 150px;

        &__next {
            right: 30%;
        }

        &__prev {
            left: 30%;
        }
    }

    @include media(700) {
        display: none;
    }
}

.slide {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;

    &__txt {
        max-width: 420px;
        font-size: 19px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.9);
    }

    @include media(970) {
        flex-direction: column;
        margin-top: 50px;

        &__txt {
            margin-top: 20px;
            max-width: 100%;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.pers {
    display: flex;
    align-items: center;

    &__ava {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 133px;
        height: 133px;
        background: url("../img/pers__ava_1.jpg") center / cover no-repeat;
    }

    &__desc {
        margin-left: 30px;
    }

    &__name {
        font-weight: 700;
        font-size: 22px;
        line-height: 48px;
    }

    &__pos {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.85);
    }

    @include media(970) {
        &__ava {
            width: 80px;
            height: 80px;
        }

        &__desc {
            margin-left: 20px;
        }

        &__name {
            font-size: 18px;
            line-height: 28px;
        }

        &__pos {
            font-size: 14px;
        }
    }
}
