.services {
    padding-top: 216px;

    &__container {
        position: relative;
    }

    &__section-txt {
        text-align: center;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 80px;
        padding: 0 48px;
        gap: 36px 36px;
    }

    &__btn {
        margin: 69px auto 0;
    }

    @include media(1200) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @include media(970) {
        padding-top: 150px;
    }

    @include media(700) {
        &__list {
            grid-template-columns: repeat(1, 1fr);
            padding: 0;
        }
    }
}

.blot-decore {
    position: absolute;
    left: -405px;
    top: 0;
    z-index: -1;
    width: 1337px;
    height: 971px;
}

.section-txt {
    &__title {
        position: relative;
        font-weight: 700;
        font-size: 36px;
        line-height: 56px;
        color: #000;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 107px;
            bottom: 0;
            margin: auto;
            border-radius: 5px;
            width: 56px;
            height: 2px;
            background-color: #000;
        }
    }

    &__parag {
        margin: 61px auto 0;
        max-width: 952px;
        line-height: 30px;
    }

    @include media(970) {
        &__title {
            font-size: 25px;

            &::after {
                top: 80px;
            }
        }

        &__parag {
            margin: 30px auto 0;
            font-size: 16px;
        }
    }
}

.card {
    justify-self: center;
    border-radius: 20px;
    padding: 34px 40px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    background-color: #fff;

    &__svg {
        width: 70px;
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        color: #000;
    }

    &__txt {
        margin-top: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
    }

    @include media(970) {
        justify-self: auto;
        padding-top: 0;

        &__svg {
            width: 40px;
        }

        &__title {
            margin-top: -30px;
            font-size: 20px;
        }

        &__txt {
            margin-top: 10px;
        }
    }
}
